@charset "utf-8";
/* Disc. Programação Web I
    Prof. Paulo Ewerton 
    Aluno: Jonas Nunes */
div {text-align: center;}
form{color: #ecbcff;}
body{
	margin: 0;
	font-family: sans-serif;
    background-color: #ecbcff;
}

#btn-menu{
	display: none;
}
header{
	background-color: #4d006b;
	font-weight: 600;
}
header label{
	color: aquamarine;
	font-size: 20px;
	display: block;
	padding: 5px 10px;
	width: 20px;
	border-right: 1px solid #efefef;
	display: none;
}
header label:hover{
	background-color: #060141;
}
.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	transition: all .5s;
}
.menu li a{
	color: #EFEFEF;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	border-right: 1px solid #efefef;
}
.menu li a:hover{
	background-color: #3e004b;
}
@media(max-width: 768px){
	header label{
		display: block;
	}
	.menu ul{
		position: absolute;
		background-color: #5c2e67;
		width: 70%;
		flex-direction: column;
		margin-left: -70%;
	}
	.menu li a{
		border-top: 1px solid #efefef;
	}
	#btn-menu:checked ~ .menu ul{
		margin-left: 0;	
	}
}
form{
    background-color: #4d006b;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
form h3{
    color: #f6e9fb;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
form input[type=text]{
    width: 90%;
    height: 45%;
    border: 1px solid #2E3867;
    padding-left: 10px;
    margin: 10px;    
}
form input[type=number]{
    width: 90%;
    height: 45%;
    border: 1px solid #2E3867;
    padding-left: 10px;
    margin: 10px;    
}
form input[type=date]{
    width: 90%;
    height: 45%;
    border: 1px solid #2E3867;
    padding-left: 10px;
    margin: 10px;    
}
form input[type=submit]{
    width: 50%;
    height: 40%;
    cursor: pointer;
    background: #b700ff;
    color: #ffffff;
    border-radius: 20px;   
}
form input[type=submit]:hover{
    background-color: #be7cd8;
    color:#4d006b;   
}
